/*not a className so not . in the front*/
body{
  font-family: 'Open Sans Condensed';
  padding: 20px 60px;  /*20px on the side and 80 px top/bottom*/
}

a{
  text-decoration: none;
  color: black;
}

/* * is a universal selector, where every element we will apply this*/
*{
  box-sizing: border-box;
}